@font-face {
    font-family: "簡宥體";
    src: url("./cjkFonts_allseto_v1.11.ttf");
}


#body_cotainer{
    display:flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #0d553d, #ffffff);
    align-items: center;
}

#mainPage_picture_border{
    display: block;
    min-width: 500px;
    max-width: 80%;
    overflow: hidden;
    background-color: aliceblue;
    height: 16cm;
    overflow: hidden;
}

#user_information_container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 100px;
    max-width: 80%;
}

#avatar{
    background-color: white;
    margin-top: -100px;
    position: relative;
    z-index: 1;
}

#avatar img{
    border-radius: 100px;
    position: relative;
    z-index: 1;
}

#user_information{
    font-family: "簡宥體";
    font-size: 70px;
}

#container{
    display: flex;
    flex-direction: column;
    font-family: "簡宥體";
    font-size: 25px;
    line-height: 35px;
}